/* MainLayout.css */

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  min-height: 100vh;
}

.MainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main.MainBody {
  display: flex;
  flex-direction: column; /* Stack Main-Content and footer vertically */
  flex: 1; /* Allows MainBody to fill remaining vertical space in MainContainer */

  overflow-y: auto; /* This makes the entire MainBody (content + footer) scrollable if content overflows */
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; /* For smoother scrolling on iOS */
}

.Main-Content {
  flex: 1;
}

.footer {
  flex-shrink: 0; /* Prevents footer from shrinking if space is tight */
  padding: 20px; /* Example padding */
  background-color: #333; /* Example footer background */
  color: white; /* Example footer text color */
}

main.MainBody::-webkit-scrollbar {
  /* Apply to main.MainBody */
  width: 8px;
}

main.MainBody::-webkit-scrollbar-track {
  /* Apply to main.MainBody */
  background: #f1f1f1;
  border-radius: 4px;
}

main.MainBody::-webkit-scrollbar-thumb {
  /* Apply to main.MainBody */
  background: #c1c1c1;
  border-radius: 4px;
}

main.MainBody::-webkit-scrollbar-thumb:hover {
  /* Apply to main.MainBody */
  background: #a8a8a8;
}
